<nav class="cover-navigation navigation--social">
  <ul class="navigation">

  {% if site.social.facebook %}
  <!-- Facebook -->
  <li class="navigation__item">
    <a href="https://www.facebook.com/{{site.social.facebook}}" title="@{{site.social.facebook}} 的 facebook" target="_blank">
      <i class='social fa fa-facebook-square'></i>
      <span class="label">Facebook</span>
    </a>
  </li>
  {% endif %}

  {% if site.social.github %}
  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/{{site.social.github}}" title="@{{site.social.github}} 的 Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>
  {% endif %}
  
  {% if site.social.twitter %}
  <!-- Twitter -->
  <li class="navigation__item">
    <a href="http://twitter.com/{{site.social.twitter}}" title="@{{site.social.twitter}}" target="_blank">
      <i class='social fa fa-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>
  {% endif %}

  {% if site.social.stackoverflow %}
  <!-- Stackoverflow -->
  <li class="navigation__item">
    <a href="http://stackoverflow.com/.com/{{site.social.stackoverflow}}" rel="author" title="stackoverflow" target="_blank">
      <i class='social fa fa-stack-overflow' style="background:url(http://cdn.sstatic.net/Sites/stackoverflow/img/apple-touch-icon@2.png)"></i>
      <span class="label">Stackoverflow</span>
    </a>
  </li>
  {% endif %}

  <!-- RSS  <li class="navigation__item">
    <a href="/feed.xml" rel="author" title="RSS" target="_blank">
      <i class='social fa fa-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>
 -->

  {% if site.social.mail %}
  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:{{site.social.mail}}" title="Contact me">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>
  {% endif %}

  </ul>
</nav>
